*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

body{
    background-image: url(travel.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(8, 255, 62, 0.295);
    background-blend-mode: difference;
}
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(184, 233, 255, 0.308);
}

.searchwindow{
    width: 100%;
    height: 100px;
    padding: 50px;
    margin: 0.4px;
    background-color: rgba(54, 54, 54, 0.308);
    border: 2px solid;
}

.searchbar{
    position: relative;
    left: 1000px;
    top: 5px;
    color: black
}

.box1{
    width: 15%;
    height: 200px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(54, 54, 54, 0.308);
    border: 2px solid;
    position: relative;
    left: 1000px;
    top: 50px;
}

.box2{
    width: 15%;
    height: 200px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(54, 54, 54, 0.308);
    border: 2px solid;
    position: relative;
    left: 300px;
    top: 100px;
}

.box3{
    width: 15%;
    height: 200px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(54, 54, 54, 0.308);
    border: 2px solid;
    position: relative;
    left: 1000px;
    top: -213px;
}

.box4{
    width: 15%;
    height: 200px;
    padding: 50px;
    margin: 10px;
    background-color: rgba(54, 54, 54, 0.308);
    border: 2px solid;
    position: relative;
    left: 1750px;
    top: -522px;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.308);
    text-align: center;
    }