body{
    background-image: url(travel.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.788);
    color: whitesmoke;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.788);
    color: rgb(36, 6, 6);
    text-align: center;
    }